@import '../animations';

#my-skills
{
    @include section-bg;
    .container
    {
        opacity:0;
        .skills-container
        {
            margin-top:15px;
            & > *
            {
                flex:1;
            }
            div
            {
                .skills-item
                {
                    position:relative;
                    .skills-bg
                    {
                        height:100%;
                        position:absolute;
                        left:0;

                    }
                    .skills-wrapper
                    {
                        display:flex;
                        gap:15px;
                        justify-content: center;
                        margin-bottom:15px;
                        padding:10px;
                        backdrop-filter: blur(10px);


                    img 
                    {
                        width:80px;
                    }

                    h3 
                    {
                        font-size:30px;
                        letter-spacing: 2px;
                    }
                    .skills-item-content
                    {
                        flex-basis:75%;
                        margin-top:auto;
                        margin-bottom:auto;
                    }
                }
                }
            }


        }
    }

    &.animate
    {
        .container
        {
            animation: fade-in 1s ease forwards;
            opacity:1;
            .skills-container
            {
                div.left
                {
                    .skills-item.animate
                    {
                        .skills-bg
                        {
                            width:100%;
                            animation-name: skills-item-animation;
                            animation-duration: 1.5s;
                            background:$gradient_prism;
                        }
                    }
                }
                div.right
                {
                    .skills-item.animate
                    {
                        .skills-bg
                        {
                            width:100%;
                            animation-name: skills-item-animation;
                            animation-duration: 1.5s;
                            background:$gradient_prism_reverse;
                        }
                    }
                }

            }
        }

    }
}


@media (min-width : $media_medium)
{
    #my-skills
    {
        .skills-container
        {
            display: flex;
            gap:2%;
            width: 100%;
            div 
            {

                .skills-item
                {
                    flex-basis:49%;
                }
            }

        }
    }


}

@media (min-width : $media_large)
{
    
}