@keyframes fade-in{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fade-out{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes fly-in-left 
{
    from{
        transform:translateX(-100vw)};
    to{
        transform:translateX(0)};
}

@keyframes fly-in-right
{
    from{
        transform:translateX(100vw)};
    to{
        transform:translateX(0)};
}


@keyframes skills-item-animation{
    from{width:0%;}
    to{width:100%}
}
