@import './utilities';

//Buttons
button, .btn
{
    display:inline-block;
    max-width:fit-content;
	border-radius: 0;
	margin-top:1.5em;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
    padding: 0.375rem 0.75rem;

    &:hover
    {
        cursor: pointer;
    }
}

button:hover, a:hover
{
    
	color:#ff6666;
	text-decoration:none;
	cursor:pointer;
}

.btn-transparent
{
    background-color: transparent;
    color: $color_white;
    border: $border_white;
    padding:10px;

    &:hover{
        background-color: $color_highlight;
        color:$color_white;
    }
}

.btn-dark
{
    @extend .btn;
    color: $color_primary;
    border: $border_primary;
    padding:10px;
    &:hover
    {
        background-color: $color_white;
        color:$color_highlight;
        border: $border_primary;
    }
}

.btn-light
{
    @extend .btn;
    color: $color_white;
    border: solid 1px #ffffff;
    font-weight:100;
}

button.btn-modal
{
    @extend .btn;
    min-height:50px;
    max-height:50px;
    min-width:50px;
    max-width:50px;
    margin-top:0;
    font-size: 20px;
    background-color: rgba(255, 255, 255, .4);
    border:none;
    color:$color_primary;
    border-radius:50%;
    &:hover
    {
        background-color: rgba(255, 255, 255, .7);
    }
    i 
    {
        color: $color_modal_background;
        padding:0;
    }
}

.filter
{
    font-size:20px;
    &.active
    {
        background-color:$color_tertiary;
        color:$color_white;
    }
}